@model List<ScheduleOrderViewModel>
@{
    ViewBag.Title = "Các sân đã đặt";
}

<div class="site-blocks-cover bg-primary" style="margin-top: -500px; height: auto;">
    <div class="container" style="height: auto;">
        <div class="row" style="height: auto;">
            <div class="col-md-12">

                <div class="row justify-content-center mb-4">
                    <div class="col-md-8 text-center">
                        <h1 style="font-family: 'VNF-Lobster'" data-aos="fade-up">Các sân đã đặt</h1>
                        <p data-aos="fade-up" data-aos-delay="100">&#9733;&#9733;&#9733;</p>
                    </div>
                </div>

                <div class="form-search-wrap mb-0" data-aos="fade-down" data-aos-delay="500">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-auto d-flex justify-content-center mt-2">
                                <label for="Unverified" class="mr-1 btn btn-default bg-info rounded text-center text-light">
                                    Chờ xác thực
                                    <input type="checkbox" id="Unverified" class="badgebox" checked>
                                    <span class="badge">&check;</span>
                                </label>
                            </div>
                            <div class="col-md-auto d-flex justify-content-center mt-2">
                                <label for="Verified_Unpaid" class="mr-1 btn btn-default bg-primary rounded rounded text-center text-light">
                                    Đã xác thực - chưa thanh toán
                                    <input type="checkbox" id="Verified_Unpaid" class="badgebox">
                                    <span class="badge">&check;</span>
                                </label>
                            </div>
                            <div class="col-md-auto d-flex justify-content-center mt-2">
                                <label for="Paid" class="mr-1 btn btn-default bg-success rounded rounded text-center text-light">
                                    Hoàn thành
                                    <input type="checkbox" id="Paid" class="badgebox">
                                    <span class="badge">&check;</span>
                                </label>
                            </div>
                            <div class="col-md-auto d-flex justify-content-center mt-2">
                                <label for="Cancel" class="btn btn-default bg-dark rounded rounded text-center text-light">
                                    Đã huỷ
                                    <input type="checkbox" id="Cancel" class="badgebox">
                                    <span class="badge">&check;</span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-search-wrap mt-4" data-aos="fade-down" data-aos-delay="500">
                    <div class="container">

                        <div class="row d-flex justify-content-center mt-2" id="__render">
                            <div class="col-md-5 mt-2">
                                <div class="bg-secondary rounded">
                                    <a href="#order0" class="btn bg-info rounded text-center text-light w-100" data-toggle="collapse">
                                        16 giờ 30 phút ngày 28-11-2019
                                    </a>
                                    <div class="collapse bg-white p-4" id="order0">
                                        <span>Ngày đặt: 27-11-2019</span><br />
                                        <span>Ngày đá: 28-11-2019</span><br />
                                        <span>Giờ đá: 16 giờ 30 phút</span><br />
                                        <span>Thời lượng: 1 tiếng 30 phút</span><br />
                                        <span>Sân: <a href="#">Sân đại học nông lâm</a></span><br />
                                        <span>Giá: 600 000 VNĐ</span><br />
                                        <span>Trạng thái: Chưa xác thực</span><br />
                                        <div class="btn bg-danger rounded text-center text-light">Huỷ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 mt-2">
                                <div class="bg-secondary rounded">
                                    <a href="#order1" class="btn bg-info rounded text-center text-light w-100" data-toggle="collapse">
                                        16 giờ 30 phút ngày 28-11-2019
                                    </a>
                                    <div class="collapse bg-white p-4" id="order1">
                                        <span>Ngày đặt: 27-11-2019</span><br />
                                        <span>Ngày đá: 28-11-2019</span><br />
                                        <span>Giờ đá: 16 giờ 30 phút</span><br />
                                        <span>Thời lượng: 1 tiếng 30 phút</span><br />
                                        <span>Sân: <a href="#">Sân đại học nông lâm</a></span><br />
                                        <span>Giá: 600 000 VNĐ</span><br />
                                        <span>Trạng thái: Chưa xác thực</span><br />
                                        <div class="btn bg-danger rounded text-center text-light">Huỷ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 mt-2">
                                <div class="bg-secondary rounded">
                                    <a href="#order2" class="btn bg-info rounded text-center text-light w-100" data-toggle="collapse">
                                        16 giờ 30 phút ngày 28-11-2019
                                    </a>
                                    <div class="collapse bg-white p-4" id="order2">
                                        <span>Ngày đặt: 27-11-2019</span><br />
                                        <span>Ngày đá: 28-11-2019</span><br />
                                        <span>Giờ đá: 16 giờ 30 phút</span><br />
                                        <span>Thời lượng: 1 tiếng 30 phút</span><br />
                                        <span>Sân: <a href="#">Sân đại học nông lâm</a></span><br />
                                        <span>Giá: 600 000 VNĐ</span><br />
                                        <span>Trạng thái: Chưa xác thực</span><br />
                                        <div class="btn bg-danger rounded text-center text-light">Huỷ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 mt-2">
                                <div class="bg-secondary rounded">
                                    <a href="#order3" class="btn bg-info rounded text-center text-light w-100" data-toggle="collapse">
                                        16 giờ 30 phút ngày 28-11-2019
                                    </a>
                                    <div class="collapse bg-white p-4" id="order3">
                                        <span>Ngày đặt: 27-11-2019</span><br />
                                        <span>Ngày đá: 28-11-2019</span><br />
                                        <span>Giờ đá: 16 giờ 30 phút</span><br />
                                        <span>Thời lượng: 1 tiếng 30 phút</span><br />
                                        <span>Sân: <a href="#">Sân đại học nông lâm</a></span><br />
                                        <span>Giá: 600 000 VNĐ</span><br />
                                        <span>Trạng thái: Chưa xác thực</span><br />
                                        <div class="btn bg-danger rounded text-center text-light">Huỷ</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    // Data
    class ScheduleOrder {
        constructor(createDate, startDate, beginHour, duration, fieldUrl, price, status) {
            this.createDate = createDate;
            this.startDate = startDate;
            this.beginHour = beginHour;
            this.duration = duration;
            this.fieldUrl = fieldUrl;
            this.price = price;
            this.status = status;
        }
    };

    //
    var lst = [];

    @foreach(var s in Model) {
        <text>
    lst.push(new ScheduleOrder(
        "@s.CreatedDate.ToString("dd-MM-yyyy")",
        "@s.StartDate.ToString("dd-MM-yyyy")",
        "@s.StartDate.ToString("hh 'giờ' mm")",
        "@Math.Floor(s.Duration) tiếng @(s.Duration * 60 % 60) phút",
        "@Url.Action("Detail", "Place", new { Id = s.PlaceId })",
        "@s.Price VNĐ",
        "@s.Status"));
        </text>
    }


    // Render
    $("#__render").ready(function () {

        var container = $("#__render");

        container.empty();

        for (var i = 0; i < lst.length; i++) {
            var html = '<div class="col-md-5 mt-2 d-none ' + lst[i].status + '"><div class="bg-secondary rounded">' +
                '<a href="#order' + i + '" class="btn ' + getBg(lst[i].status) + ' rounded text-center text-light w-100" data-toggle="collapse">' +
                lst[i].beginHour + ' ngày ' + lst[i].startDate + '</a>' +
                '<div class="collapse bg-white p-4" id="order' + i + '">' +
                '<span>Ngày đặt: ' + lst[i].createDate + '</span><br />' +
                '<span>Ngày đá: ' + lst[i].startDate + '</span><br />' +
                '<span>Giờ đá: ' + lst[i].beginHour + '</span><br />' +
                '<span>Thời lượng: ' + lst[i].duration + '</span><br />' +
                '<span>Sân: <a href="' + lst[i].fieldUrl + '">Sân</a></span><br />' +
                '<span>Giá: ' + lst[i].price + '</span><br />' +
                '<span>Trạng thái: ' + lst[i].status + '</span><br />' +
                '<div class="btn bg-danger rounded text-center text-light">Huỷ</div>' +
                '</div>' +
                '</div>' +
                '</div>';
            container.append(html);
        }

        // Event
        container.find(".Unverified").removeClass("d-none");
        $(".badgebox:checkbox").change(function () {
            if (this.checked) {
                $("#__render").find("." + this.id).removeClass("d-none");
            } else {
                $("#__render").find("." + this.id).addClass("d-none");
            }
        });
    });

    var getBg = function (status) {
        switch (status) {
            case "Unverified":
                return "bg-info"
            case "Verified_Unpaid":
                return "bg-primary"
            case "Paid":
                return "bg-success"
            case "Cancel":
                return "bg-dark"
        }
    }
</script>